<%page args="content='404 - No Page Found'"/>

<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script src="js/commands.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
    <link rel="shortcut icon" href="img/the_flying_sub.ico" />


    <title>Gothons from Planet Percal #25</title>
    
</head>

<body>

<div class="container">
<div class="row"><h1>Gothons from Planet Percal #25</h1></div>

${content}
</div>


</body>

</html>
