<%page args = "game"/>


<div class="row">
<h2 class="roomname"> ${game.name} </h2>
</div>

<div class="row">
<pre class="pre-scrollable"><noscript>${game.gametext}
% if game.hint:
    HINT: ${game.hint}
%endif
</noscript></pre>
</div>


% if game.gameover:
    <div class="row">
    <a href='/newgame'>
        <button type="submit" id="newgame" class="btn btn-inverse">Play Again?</button>
    </a>
    </div>
% else:
    <div class="row">
        <div class="input-append">
    <form autocomplete=off id="aform" action="/noscript_form">
        <input type="text" class="span12" name="action" placeholder="Your move?" id="appendedInputButton"/>
        <button id="go" type="submit" class="btn btn-inverse"><i class="icon-play icon-white"></i></button>
    </form>
        </div>
    </div>

% endif

<div class="row">
    <span class="hintbar span12"></span>
</div>